* {
  font-family: Montserrat;
  font-weight: 700;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fdf6f6;
  padding: 0 5% 5% 5%;
  max-width: 900px;
  background-image: url(images/bg-top.svg), url(images/bg-bottom.svg);
  background-repeat: no-repeat;
  background-position: top right, bottom left;
  background-size: 20%;
  margin: auto;
}

.pricing {
  align-self: center;
  padding: 2% 0;
}
.section {
  margin-top: 10px;
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
}

.box {
  padding: 20px;
  width: 25%;
  text-align: center;
  background: white;
  border-radius: 5%;
  margin: 1%;
}
.box:hover {
  color: white;
  /* background: red; */
  background-image: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );

  transform: scale(1.1);
}

.box:hover .button {
  background-image: linear-gradient(
    to right,
    hsl(0, 0%, 100%),
    hsl(0, 0%, 100%)
  );
  color: hsl(233, 13%, 49%);
}

.button {
  width: 100%;
  padding: 10px 0;
  border: hidden;
  border-radius: 5px;
  color: white;
  background-image: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
}
.head_price {
  text-align: center;
  font-size: 30px;
}
.price {
  font-weight: 900;
  font-weight: bolder;
  font-size: 2em;
}
.annualAndMonthly {
  display: inline;
}
.annualAndMonthly button {
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  background: hsl(237, 72%, 56%);
  border-radius: 5px;
  color: white;
}
